*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    background-attachment: fixed;
    background-size: cover;
}

header{
    display: flex;
    justify-content: space-evenly;
}

.navbar{
        background-color: #3030305e;
        backdrop-filter: blur(1px);
        width: 81rem;
        height: 4rem;
        margin-top: 1rem;
        border-radius: 10px;
}

.login{
    background-color: #3030305e;
    backdrop-filter: blur(1px);
    width: 4rem;
    height: 4rem;
    margin-top: 1rem;
    border-radius: 50%;
}

.signUp{
    background-color: #3030305e;
    backdrop-filter: blur(1px);
    width: 8rem;
    height: 4rem;
    margin-top: 1rem;
    border-radius: 10px;
}



button{

    height: 3rem;
    width: 9rem;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: 2px;
    border-radius: 10px;
    background: rgb(243, 195, 37);
    border: 5px solid rgb(243, 195, 37);
    color: black;
    margin-left: -65rem;
    margin-top: -7rem;
    transition: 0.1s ease-in-out;
    
    
}
button:hover{
    background: black;
    box-shadow:1px 1px 32px 6px   rgb(243, 195, 37);
    border: 5px solid black;
    color: rgb(243, 195, 37);
}

.neon_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25%;

}

.container{
    background-color: #3030305e;
    backdrop-filter: blur(1px);
    width: 96.6rem;
    height: 42rem;
    margin-top: 1rem;
    border-radius: 10px;
    margin-left: 1.7rem;
    display: flex;
    justify-content: space-around;
}


.leftContent{
    margin-top: 1rem;
    padding-top: 3rem;
}
.img{
    background-color: #3030305e;
    backdrop-filter: blur(1px);
    width: 25rem;
    height: 29rem;
    margin-left: 9rem;
    border-radius: 10px;
}

.logCont{
    display: flex;
}

.login2{
    background-color: #3030305e;
    backdrop-filter: blur(1px);
    width: 4rem;
    height: 4rem;
    margin-left: 9rem;
    margin-top: 1.5rem;
    border-radius: 50%;
}

.p1{
    background-color: #3030305e;
    backdrop-filter: blur(1px);
    width: 19rem;
    height: 1rem;
    margin-left: 2rem;
    border-radius: 10px;
    margin-top: 1.5rem;
}
.p2{
    background-color: #3030305e;
    backdrop-filter: blur(1px);
    width: 10rem;
    height: 1rem;
    margin-left: 2rem;
    border-radius: 10px;
    margin-top: 1.5rem;
}

.rightContent{
    margin-top: 3rem;
}

.head1{
    background-color: #3030305e;
    backdrop-filter: blur(1px);
    width: 24rem;
    height: 3rem;
    border-radius: 5px;
    margin-top: 4rem;
}
.head2{
    background-color: #3030305e;
    backdrop-filter: blur(1px);
    width: 16rem;
    height: 1rem;
    border-radius: 2px;
    margin-top: 1rem;
}

.paras{
    margin-top: 3rem;
}

.p3, .p4, .p5, .p6, .p7{
    background-color: #3030305e;
    backdrop-filter: blur(1px);
    width: 24rem;
    height: 1rem;
    margin-left: 0rem;
    border-radius: 2px;
    margin-top: 1.5rem;
}

.p7{
    background-color: #3030305e;
    backdrop-filter: blur(1px);
    width: 15rem;
    height: 1rem;
    margin-left: 0rem;
    border-radius: 2px;
    margin-top: 1.5rem;
}